.sidebar-base {
    background-color: #ffffff;
    list-style: none;
    padding: 0px;  margin: 0px;
    width: 150px;
    height: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
}

.sidebar-base li {
    padding: 10px;
    margin-top: 10px;
    font-size: 0.8em;
    text-align: center;
}

.sidebar-base li.wd-active {
    color: #c9102e;
}

.sidebar-base li.wd-active a {
    color: #c9102e;
}
.sidebar-base a {
    color: black;
    text-decoration: none;
}
.sidebar-base a i {
    font-size: 2em;
    margin-bottom: 5px;
}

.sidebar-base-hr {
    padding: 8px;
    margin-top: 10px;
    color: #ffffff;
}

.sidebar-account-info {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .sidebar-base {
        display: none;
    }
}

.logout-button {
  background-color: #c9102e;
  color: white;
  flex: 1;
  margin-left: 40px;
  padding: 10px;
  font-size: 0.9rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}