.side-by-side {
  display: flex;
  flex-direction: row;
}

.side-bar {
  width: 150px;
  background-color: #f0f0f0;
  padding: 1rem;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  position: fixed;
  height: 100%;
}

.rest-of-page {
  flex: 1;
  box-sizing: border-box;
  margin-left: 150px;
  width: calc(100% - 150px);
}

@media (max-width: 768px) {
  .side-bar {
    display: none;
  }

  .rest-of-page {
    margin-left: 0;
    width: 100%;
  }
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.search-bar {
  font-size: 1rem;
  padding-bottom: 10px;
}

.university-rows{
  margin-right: 2%;
}

hr {
  border: 0;
  height: 1px;
  background-color: lightgrey;
  margin: 1rem 0;
}