.side-by-side {
    display: flex;
    flex-direction: row;
}

.side-bar {
  width: 10%;
  background-color: #f0f0f0;
  padding: 1rem;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
}

.rest-of-page {
  flex: 1;
  padding: 2rem;
  box-sizing: border-box;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.search-bar {
  font-size: 1rem;
  padding-bottom: 10px;
}

.university-rows{
  margin-right: 2%;
}

hr {
  border: 0;
  height: 1px;
  background-color: lightgrey;
  margin: 1rem 0;
}