.course-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  border: 10px solid #e5e7eb;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 33%;
  left: 33%;
  width: 30%;
}

.course-title {
  font-size: 2rem;
  font-weight: 700;
  color: black;
  margin-bottom: 0.5rem;
}

.course-description {
  color: #4b5563;
  margin-bottom: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-height: 500px;
  overflow-y: auto;
  padding-right: 5px;
}

.button-course {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center; 
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #c9102e;
  color: #ffffff;
  border: 2px solid #c9102e;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s, outline 0.2s;
}

.button-course:hover {
  background-color: #af2424;
}

.button-course:focus {
  background-color: 2px solid #af2424;
  outline-offset: 2px;
}

.close-button {
  margin-top: 10px;
}