.search-icon {
    padding: 10px;
    font-size: 20px;
}

.search-container {
    border-radius: 24px;
    padding: 8px 16px;
    transition: all 0.3s ease;
    margin: 0 auto;
    border: 1px solid #e0e0e0;
    flex: 1;
    height: 30px;
}

.search-container.focused {
    border-color: #6200ee;
    box-shadow: 0 0 0 2px rgba(98, 0, 238, 0.2);
}

.big-container {
    display: flex;
    align-items: center;
    gap: 8px;
}
