.course-message-popup {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  max-width: 325px;
}

.course-message-text {
  font-weight: 550;
  color: black;
}

.course-message-popup img {
  margin-right: 1.5rem;
  width: 35px;  
  object-fit: contain;
}