.side-by-side {
    display: flex;
    flex-direction: row;
}

.side-bar {
    width: 10%;
    background-color: #f0f0f0;
    padding: 1rem;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
}

.rest-of-page {
    flex: 1;
    padding: 2rem;
    box-sizing: border-box;
}

.text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text p {
    margin: 0;
}

.section-title {
    padding-left: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: black;
    margin-bottom: 2rem;
}


.university-div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/*
    display: grid;
    grid-template-columns: repeat(10, minmax(200px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
    overflow-x: auto;
 */