.password-popup {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 1.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  max-width: 250px;
  height: auto; 
}

.course-message-text {
  font-weight: 550;
  color: black;
  margin-bottom: 1rem; 
}

.search-container {
  padding: 5px 4px;
  transition: all 0.3s ease;
  margin: 0 auto;
  width: 100%; 
}

.search-container input {
  width: 100%; 
  padding: 10px 12px;
  font-size: 1rem;
  border: 1px solid #ffffff;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box; 
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;
}

.cancel-button,
.reset-button {
  flex: 1;
  padding: 10px;
  margin: 0 5px;
  font-size: 0.9rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.cancel-button {
  background-color: #f3f4f6;
  color: #333;
}

.cancel-button:hover {
  background-color: #e5e7eb;
}

.reset-button {
  background-color: #af2424;
  color: white;
}

.reset-button:hover {
  background-color: #357ABD;
}