.card-container {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    max-width: 300px;
}

.location-align {
    font-size: 1.1rem;
}
.location-container {
     display: flex;
     align-items: center;
     gap: 4px;
 }

 .image {
    max-width: 200px;   
    max-height: 150px;  
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    border-radius: 12px;
}
